a {
    color: $text_color;
    font-size: 15px;

    &:hover {
        color: $link_hover_color;
        text-decoration: none;
    }
}

body {
    background-color: #f3f2f1;
    color: $text_color;
    font-size: 15px;
    font-family: Raleway, helvetica;
}

.row {
    margin: 0;
}

.col {
    padding: 0;
}