a {
  color: $text_color;
  font-size: 14px;

  &:hover {
    color: $link_hover_color;
    text-decoration: none;
  }
}

body {
  background: $primary_color;
  color: $text_color;
  font-size: 14px;
  font-family: Inter, helvetica;
  font-weight: 400;

  .animated {
    background: linear-gradient(
      -45deg,
      #0043ac,
      $additional_color,
      $primary_color,
      $link_hover_color
    );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

hr {
  border-top: 2px solid #f0f3ff;
}

img {
  max-width: 100%;
  max-height: 100%;
}

label {
  font-size: 14px;
}

.btn {
  align-items: center;
  border: 2px solid;
  display: flex;
  font-weight: bold;
  font-size: 13px;

  i + span {
    font-size: 13px;
    font-weight: bold;
    margin-left: 3px;
  }

  &-additional {
    color: #fff;
    background-color: $additional_color;
    border-color: $additional_color;

    &:hover,
    &:focus {
      color: #fff;
      box-shadow: 0 0 0 0.2rem mix($additional_color, #fff, 40%);
    }
  }

  &-danger {
    background-color: $danger_color;
    border-color: $danger_color;

    &:hover,
    &:focus {
      background-color: $danger_color;
      border-color: $danger_color;
      box-shadow: 0 0 0 0.2rem mix($danger_color, #fff, 40%);
    }
  }

  &-light {
    background-color: $light_color;
    border-color: $light_color;
    color: #8950fc;

    &:hover,
    &:focus {
      background-color: #ebebef;
      border-color: #ebebef;
      color: $primary_color;
    }
  }

  &-primary {
    background-color: $primary_color;
    border-color: $primary_color;

    &:hover,
    &:focus {
      background-color: $primary_color;
      border-color: $primary_color;
      box-shadow: 0 0 0 0.2rem mix($primary_color, #fff, 40%);
      color: #fff;
    }
  }

  &-round {
    border-radius: 50%;
    height: fit-content;
    padding: 0.375rem;
  }

  &-rounded {
    border-radius: 50px;
  }
}

.multiple-actions-block {
  border-top: 1px solid;
  border-color: #f0f3ff;
  display: flex;
  padding: 10px;
}

.pagination-block {
  border-top: 1px solid;
  border-color: #f0f3ff;
  padding: 10px;

  nav {
    width: fit-content;
    margin: auto;

    .pagination {
      margin: 0;

      .page-link {
        border: 0;
        border-radius: 5px;
        color: $primary_color;

        &:focus {
          box-shadow: none;
        }
      }

      .page-item {
        margin: 0 3px;

        &.active {
          .page-link {
            background-color: $primary_color;
            color: #fff;
          }
        }

        &.disabled {
          &:first-child,
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
}
