.right-side {
  margin-left: 14vw;
  margin-top: $topbar_height + 25px;
  padding: 0 10px;
  transition: all 0.4s;

  &.toggled {
    margin-left: 0;
  }
}

.page-content {
  transition: all 0.4s;

  .block {
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);

    .headline {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .h1 {
        font-size: 18px;
        letter-spacing: 2px;
      }

      .buttons {
        margin-left: auto;
        display: flex;
        align-items: center;

        > * {
          margin-left: 5px;
        }
      }
    }
  }
}


@media (max-width: 1300px) {
  .left-side {
    min-width: 220px;
    left: -25%;

    &.toggled {
      left: 0;
    }
  }

  .right-side {
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .left-side {
    min-width: 220px;
    left: -50%;

    &.toggled {
      left: 0;
    }
  }

  .right-side {
    margin-left: 0;
  }
}
