#sidebar {
  .app-name {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      font-size: 16px;
      letter-spacing: 2px;

      &:hover {
        color:#5e00cf;
      }
    }
  }

  .nav {
    height: calc(100vh - 50px);

    &-link {
      border: 1px solid transparent;

      &:hover {
        color: #fff;
        background: $green_color;
      }
    }
  }
}

@media (max-width: 768px) {
  
}
