#topbar {
  position: fixed;
  width: 100vw - $sidebar_width;
  top: 0;
  left: $sidebar_width;
  background: linear-gradient(45deg, $primary_color, $additional_color);
  height: $topbar_height;
  padding: 5px 35px 5px 5px;
  color: #fff;
  transition: width 0.4s, left 0.4s;
  z-index: 10;

  &.toggled {
    left: 0;
    width: 100%;
  }

  i {
    cursor: pointer;
    font-size: 20px;

    &:hover {
      color: #ddf;
    }
  }

  .breadcrumb {
    align-items: center;
    padding: 0 1rem;
    background-color: transparent;
    font-size: 13px;

    li + li:before {
      content: "»‎";
    }

    li,
    li:before,
    a {
      font-size: 13px;
      color: #fff;
    }

    a:hover {
      font-weight: bold;
    }
  }

  .profile-button {
    cursor: pointer;

    &:hover {
      i {
        color: #ddf;
      }

      span {
        color: #ddf;
      }
    }

    strong {
      color: #eef;
      letter-spacing: 1px;
      font-size: 13px;
    }
  }

  .user-menu {
    background: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
    color: #414549;
    display: none;
    padding: 20px;
    position: absolute;
    right: -10px;
    top: 35px;
    width: 250px;

    .btn {
      &-danger {
        i:hover {
          color: #fff;
        }
      }

      &-light {
        i:hover {
          color: #414549;
        }
      }
    }

    img {
      border-radius: 5px;
      max-width: 100%;
    }
  }
}
