#topbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, $primary_color, $additional_color);
  height: $topbar_height;
  padding: 5px 25px 5px 5px;
  color: #fff;
  z-index: 10;

  .sitename {
    width: $sidebar_width;
    color: #fff;
    font-size: 25px;
    padding-left: 25px;
    text-transform: lowercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    letter-spacing: 5px;
    display: block;
  }

  i {
    cursor: pointer;
    font-size: 20px;

    &:hover {
      color: #ddf;
    }
  }

  .breadcrumb {
    padding: 0 1rem;
    background-color: transparent;
    font-size: 13px;

    li + li:before {
      content: ">>";
    }

    li,
    li:before,
    a {
      font-size: 13px;
      color: #fff;
    }

    a:hover {
      font-weight: bold;
    }
  }

  .profile-button {
    cursor: pointer;

    &:hover {
      i {
        color: #ddf;
      }

      span {
        color: #ddf;
      }
    }

    strong {
      color: #eef;
      letter-spacing: 1px;
      font-size: 13px;
    }
  }
}
