.dropdown-menu {
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, .15);
  min-width: 250px;

  .dropdown-item {
    padding: 10px 30px;
    transition: background-color .2s ease-in-out;

    &:active {
      background-color: transparent;
      color: #212529;
    }

    &:focus {
      outline: 0;
    }

    &:hover {
      background-color: #f0f3f6;
    }
  }
}

.submenu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;

  .dropdown-item {
    align-items: center;
    color: rgb(90, 98, 115);
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    transition: color .2s ease-in-out;

    &:hover, &:hover i:first-child {
      color: rgb(137, 80, 252);
    }

    i:first-child {
      color: rgb(181, 181, 195);
      font-size: 22px;
      transition: color .2s ease-in-out;
    }

    .expand-left {
      justify-self: flex-end;
      margin-left: 5px;
    }
  }
}

.subsubmenu {
  margin-left: 1px !important;
}

.notifications-dropdown {
  min-width: 350px;

  .heading {
    color: #464e5f;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
    text-align: center;

    &:hover {
      background-color: transparent;
    }
  }

  .notification {
    align-items: center;
    display: flex;
    padding: 10px 30px;

    .icon-col {
      flex: 0 0 12%;
      max-width: 12%;
    }

    .material-icons {
      color: #8950fc;
      font-size: 25px;
      vertical-align: middle;
    }

    .message {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
    }

    .time {
      font-size: 12px;
      margin: 0;
    }
  }
}
