.table {
  margin: 0;

  img, .image {
    max-width: 70px;
  }

  td, th {
    border: 0 !important;
    padding: 15px 25px;
  }

  th {
    color: #595d6e;
    font-size: 13px;
    font-weight: 500;

    &:last-child {
      text-align: right;
    }

    a {
      color: #595d6e;
      font-size: 13px;
      font-weight: 500;
    }
  }

  tr {
    border-bottom: 1px solid;
    border-color: #f0f3ff !important;
  }

  tbody > tr:last-child {
    border-bottom: 0;
  }

  .actions {
    align-items: center;
    display: flex;
    flex: 0 0 200px;
    height: -webkit-fill-available;
    justify-content: flex-end;

    .btn {
      margin-left: 5px;
    }
  }

  .check-td {
    text-align: center;
    vertical-align: middle;
    width: 25px;

    .checkbox {
      margin: 0 auto;
    }
  }
}
