#menu {
  overflow-x: auto;

  .nav {
    align-items: stretch;
    display: flex;
    width: max-content;

    &-item {
      padding-right: 2px;

      .nav-link {
        background-color: #00000044;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        color: #ffffff55;
        font-weight: 300;
        padding: 14px 25px;
        text-transform: uppercase;

        &:focus {
          outline: 0;
        }

        &:hover {
          background-color: #00000077;
          color: #ffffff99;
        }

        &.active {
          background: linear-gradient(180deg, #f9f9fc, #eceef7);
          color: #717171;
          font-weight: 500;
        }

        &.dropped {
          background: #fff;
          color: #717171;
          font-weight: 500;
        }

        i, svg {
          margin-right: -10px;
          margin-left: 5px;
        }

        .counter {
          background: $green_color;
          border-radius: 4px;
          color: #fff;
          font-size: 10px;
          margin-left: 5px;
          margin-right: -5px;
          padding: 0 5px;
        }
      }
    }
  }
}
