#topbar {
  color: #fff;
  height: 90px;
  max-height: 90px;

  .logo {
    color: #fff;
    font-size: 32px;

    img {
      width: 100px;
      max-height: 90px;
    }
  }

  .navigation {
    &-item {
      align-items: center;
      background: #00000033;
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: 0 15px;

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:hover {
        background: #00000044;
      }
    }

    .user {
      background: #00000033;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      padding: 7px 12px;

      &:hover {
        background: #00000044;
      }

      .name {
        font-weight: 600;
        padding-right: 7px;
      }

      .image {
        img {
          height: 30px;
        }
      }
    }
  }
}
