.left-side.dark {
  background-color: #151b26;

  #sidebar {
    .user {
      &:hover {
        background: #1d232e
      }
    }

    .nav {
      &-link {
        color: #dbe4eb;

        &:hover {
          background: #1d232e;
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
}
